body,html{
    height: 100%;
    margin:0 auto;
}   
.section1{
    background: url(../img/maxresdefault.jpg);
    width: 100%;
    height: 120%;
    text-align: center;
}
.judul{
    font-family: langdon;
    font-weight: 500;
    font-size: 40px;
    color: black;
}
.subjudul{
    
}
.isi{
    
}